@import url("/src/css/base.css");
* {
  box-sizing: border-box;
}

body {
  background-image: url("../../img/base-background.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  border: 0px;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border-bottom: 1px solid black;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
}
input[type="checkbox"]:checked + label {
  border: 0px;
}
input[type="checkbox"]:checked + label::after {
  content: "✔";
  width: 30px;
  height: 30px;
}

i {
  cursor: pointer;
}
.note {
  width: 60vw;
  height: 90vh;
  position: relative;
  perspective: 5000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.note-start,
.note-end {
  width: inherit;
  height: inherit;
  background-image: url("../../img/note-cover.jpg");
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.note-end {
  z-index: -1;
}

.note-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform-origin: left center;
  transition-timing-function: ease-in;
  animation: open-note 1s ease-in forwards;
}

.note-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: aliceblue;
  position: absolute;
  transform-origin: left center;
  transition-timing-function: ease-in;
}

.note-page > div {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background-color: aliceblue;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    transparent 1.76em,
    rgba(0, 0, 0, 0.1) 0
  );
  background-size: 100% 1.85em;
  z-index: 1;
}
.note-page > div > header {
  font-size: 5vmin;
}
.note-page.left {
  z-index: 5;
  animation: open-note 1.3s ease-in forwards;
}

.note-page__right {
  position: absolute;
}
.note-page__left {
  position: absolute;
  transform: scaleX(-1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.note-page.left > .note-page__left {
  z-index: 2;
}
.note-page.right > .note-page__right {
  z-index: 2;
}

.note-page header {
  font-size: 50px;
  font-weight: 500;
}

@keyframes open-note {
  0% {
    transform: rotateY(0deg);
  }
  90% {
    z-index: 1;
  }
  100% {
    z-index: -1;
    transform: rotateY(-180deg);
  }
}
